<link rel="stylesheet" href="/css/user_profile.css">
        <h1>
             <%=title%>
        </h1>
        <h1>Welcome!!! <%=user.name%> || <%=user.email%>,You have been successfully logged in!!!</h1>
        

    